body {
    background-color:darkslategray;
}

.head {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-size: 120px;
    margin: 150px;
    text-shadow: 0px 0px 14px #fff;

}